{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="well">
		<h4 class="text-error">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</h4>
	</div>
{% endblock fos_user_content %}
