{% extends "::layout.html.twig" %}

{% block body %}
<div class="jumbotron">
	<h1>Serveur Minecraft</h1>
	<p class="lead">Le nouveau serveur Minecraft Suropipicool est disponible. Le recrutement est ouvert à tous ! De nombreux plugins sont disponibles : Bukkit, Essentials, etc ...</p>
	<a class="btn btn-large btn-success" href="#">Rejoinez nous !</a>
</div>

<hr>

<div class="row-fluid">
	<div class="span4">
	<h2>Boutique</h2>
		<p>La boutique du serveur est ouverte. Venez consulter les objets disponibles au meilleur prix.</p>
		<p><a class="btn" href="#">Boutique &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Serveur</h2>
		<p>Vous voulez en savoir plus sur le serveur ? Visitez la page dédié à la présentation de celui-ci.</p>
		<p><a class="btn" href="#">Serveur &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Forum</h2>
		<p>Un problème, une idée à faire parvenir au staff ou simplement une discution, venez sur le forum. Bon ambiance et entente au rendez-vous !</p>
		<p><a class="btn" href="#">Forum &raquo;</a></p>
	</div>
</div>
{% endblock %}
