{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="well">
		<h4 class="text-info">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</h4>
	</div>
{% endblock fos_user_content %}
